

.container-general{
    height: 280em;
    width: 100%;
    background-color: rgb(238, 246, 250);
    

}

.card-container {
    height: 30%;
    width: 100%;
    
}

.card-box{
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}


.card{
    width: 18rem;
    margin-top: 1em;
}


/* Api Rick and Morty */

.api-container {
    height: 40%;
    width: 100%;
    
}

.tittle-productos{
    text-align: center;
}





/* FORMULARIO */

.form-contact {
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    height: 30em;
    width: 60em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.527);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.form-content-1{
    height: auto;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
/* DIV DEL BOTON */
.button-container{
    height: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1em;   
}


/* Alinear el BOTON*/
.form-button{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

}

.btn {
    width: 100%;
}
footer {
    background-color: black;
    border: 0px;
    color: white;
    height: 200px;
    text-align: center;
    margin: 0;
    padding: 0;
}
  
footer .col-sm-6 svg {
    width: 15%;
}
  
